.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Terminal styles */

.react-terminal-wrapper {
    text-align: left;
    font-size: 16px !important;
    min-height: 100px;
    padding: 50px 45px 5px !important;
}

.react-terminal {
    min-height: 20px;
    height: 4vh !important;
}

.react-terminal-input {
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation: typing 4s steps(180, end);
    animation: typing 4s steps(180, end);
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.react-terminal-input:after {
    content: '▋';
    font-family: monospace;
    margin-left: 0.2em;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}