name: Build project
on: [push]
jobs:
  build:
    name: Build the project
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.14', '1.15' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: Tests
        run: go test -v -vet=off -race ./...
      - name: Build
        run: go build -race cmd/killgrave/main.go
  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - name: Test
        run: go test -race -coverprofile=coverage.out -covermode=atomic ./...
      - name: Send coverage to codecov
        uses: codecov/codecov-action@v1.0.0
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.out
