name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASER }}
  docker-hub:
    name: Deploy to docker-hub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to docker hub
        uses: actions-hub/docker/login@master
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}

      - name: Build image
        if: success()
        run: |
          docker build -t ${GITHUB_REPOSITORY}:latest .
          docker tag ${GITHUB_REPOSITORY}:latest ${GITHUB_REPOSITORY}:${IMAGE_TAG}

      - name: Push to docker registry (latest)
        if: success()
        uses: actions-hub/docker/cli@master
        with:
          args: push ${GITHUB_REPOSITORY}:latest

      - name: Push to docker registry (tag)
        if: success()
        uses: actions-hub/docker/cli@master
        with:
          args: push ${GITHUB_REPOSITORY}:${IMAGE_TAG}
